body {
  background: #111;
  color: #fff;
  text-align: center;
  font-family: Arial;
}

.camera {
  width: 320px;
  border: 3px solid #0f0;
  margin-bottom: 15px;
}

#joystick {
  width: 150px;
  height: 150px;
  background: #333;
  border-radius: 50%;
  margin: 20px auto;
  position: relative;
  touch-action: none;
}

#stick {
  width: 60px;
  height: 60px;
  background: #0f0;
  border-radius: 50%;
  position: absolute;
  top: 45px;
  left: 45px;
}
