body {
  background: #111;
  color: #fff;
  text-align: center;
  font-family: Arial;
}

.camera {
  width: 320px;
  border: 3px solid #0f0;
  margin-bottom: 20px;
}

.controls button {
  padding: 15px;
  margin: 5px;
  font-size: 18px;
}
