body {
  background: #111;
  color: #fff;
  text-align: center;
  font-family: Arial;
}

.camera {
  width: 100%;
  border: 3px solid #0f0;
  margin-bottom: 15px;
}

#joystick {
  width: 260px;      /* ⬅ bigger */
  height: 260px;
  background: #222;
  border-radius: 50%;
  position: relative;
  touch-action: none;
  margin: 20px auto;
}

#stick {
  width: 110px;      /* ⬅ bigger thumb */
  height: 110px;
  background: #555;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}